html {
  height: 100%;
}

body {
  height: 100%;
}
.div {
  background-image: url("/assests/Banner.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (max-width: 768px) {
  .div {
    min-width: 800px;
    background-image: url("/assests/Banner.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 400px) {
  .div {
    min-width: 500px;
    background-image: url("/assests/Banner.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media screen and (min-width: 800px) {
  .div {
    background-image: url("/assests/Banner.webp");
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
